<div>
    <h2><span jhiTranslate="accuestimatorNg2App.taskCategory.home.title">Task Categories</span>
        <button class="btn btn-primary float-xs-right" [routerLink]="['/', { outlets: { popup: ['taskCategory-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="accuestimatorNg2App.taskCategory.home.createLabel">
            Create new Task Category
            </span>
        </button></h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="taskCategories">
        <table class="table table-striped">
            <thead>
            <tr>
           <!-- <th><span jhiTranslate="global.field.id">ID</span></th>-->
            <th><span jhiTranslate="accuestimatorNg2App.taskCategory.name">Name</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.taskCategory.type">Type</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.taskCategory.version">Version</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.taskCategory.state">State</span></th>
           <!-- <th><span jhiTranslate="accuestimatorNg2App.taskCategory.createdby">Createdby</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.taskCategory.createdon">Createdon</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.taskCategory.modifiedby">Modifiedby</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.taskCategory.modifiedon">Modifiedon</span></th> -->
            <th><span jhiTranslate="accuestimatorNg2App.taskCategory.description">Description</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.taskCategory.active">Active</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let taskCategory of taskCategories ;trackBy: trackId">
                <!--<td><a [routerLink]="['../taskCategory', taskCategory.id ]" >{{taskCategory.id}}</a></td>-->
                <td>{{taskCategory.name}}</td>
                <td jhiTranslate="{{'accuestimatorNg2App.TYPEENUM.' + taskCategory.type}}">{{taskCategory.type}}</td>
                <td>{{taskCategory.version}}</td>
                <td jhiTranslate="{{'accuestimatorNg2App.STATEENUM.' + taskCategory.state}}">{{taskCategory.state}}</td>
                <!--<td>{{taskCategory.createdby}}</td>
                <td>{{taskCategory.createdon | date:'medium'}}</td>
                <td>{{taskCategory.modifiedby}}</td>
                <td>{{taskCategory.modifiedon | date:'medium'}}</td>-->
                <td>{{taskCategory.description}}</td>
                <td>{{taskCategory.active}}</td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../task-category', taskCategory.id ]" 
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                           <!-- <span class="hidden-xs hidden-sm" jhiTranslate="entity.action.view"></span>-->
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'taskCategory-edit/'+ taskCategory.id } }]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                             <!-- <span class="hidden-xs hidden-sm" jhiTranslate="entity.action.edit"></span>-->
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'taskCategory-delete/'+ taskCategory.id } }]"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                             <!-- <span class="hidden-xs hidden-sm" jhiTranslate="entity.action.delete"></span>-->
                        </button>
                        <button type="submit"
                                [routerLink]="['../tasks']" 
                                (click)="setInfo(taskCategory.name,taskCategory.id)"
                                class="btn btn-group btn-sm">
                            <span class="fa fa-plus"></span>    
                            <span class="hidden-xs hidden-sm" > >> </span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
