<div>
    <h2><span jhiTranslate="accuestimatorNg2App.template.home.title">Templates</span>
        <button class="btn btn-primary float-xs-right" [routerLink]="['/', { outlets: { popup: ['template-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="accuestimatorNg2App.template.home.createLabel">
            Create new Template
            </span>
        </button></h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="templates">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span >Name</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.template.active">Active</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.template.factorTaskId">Factor Task Id</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.template.version">Version</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.template.state">State</span></th>
            <!--<th><span jhiTranslate="accuestimatorNg2App.template.createdby">Createdby</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.template.createdon">Createdon</span></th>-->
            <th><span jhiTranslate="accuestimatorNg2App.template.referencedFrom">Referenced From</span></th>
           <!-- <th><span jhiTranslate="accuestimatorNg2App.template.modifiedby">Modifiedby</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.template.modifiedon">Modifiedon</span></th>-->
            <th><span jhiTranslate="accuestimatorNg2App.template.description">Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let template of templates ;trackBy: trackId">
               <!-- <td><a [routerLink]="['../template', template.id ]" >{{template.id}}</a></td>-->
                <td>{{template.name}}</td>
                <td>{{template.active}}</td>
                <td>{{template.factorTaskId}}</td>
                <td>{{template.version}}</td>
                <td jhiTranslate="{{'accuestimatorNg2App.STATEENUM.' + template.state}}">{{template.state}}</td>
               <!-- <td>{{template.createdby}}</td>
                <td>{{template.createdon | date:'medium'}}</td>-->
                <td>{{template.referencedFrom}}</td>
                <!--<td>{{template.modifiedby}}</td>
                <td>{{template.modifiedon | date:'medium'}}</td>-->
                <td>{{template.description}}</td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../template', template.id ]" 
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-xs hidden-sm" jhiTranslate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'template-edit/'+ template.id } }]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-xs hidden-sm" jhiTranslate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'template-delete/'+ template.id } }]"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-xs hidden-sm" jhiTranslate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
