<div>
    <h2><span jhiTranslate="accuestimatorNg2App.projects.home.title">Projects</span>
        <button class="btn btn-primary float-xs-right" [routerLink]="['/', { outlets: { popup: ['projects-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="accuestimatorNg2App.projects.home.createLabel">
            Create new Projects
            </span>
        </button></h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="projects">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.projects.name">Name</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.projects.description">Description</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.projects.type">Type</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.projects.state">State</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.projects.createdby">Createdby</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.projects.createdon">Createdon</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.projects.modifiedby">Modifiedby</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.projects.modifiedon">Modifiedon</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.projects.version">Version</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.projects.active">Active</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let projects of projects ;trackBy: trackId">
                <td><a [routerLink]="['../projects', projects.id ]" >{{projects.id}}</a></td>
                <td>{{projects.name}}</td>
                <td>{{projects.description}}</td>
                <td jhiTranslate="{{'accuestimatorNg2App.TYPEENUM.' + projects.type}}">{{projects.type}}</td>
                <td jhiTranslate="{{'accuestimatorNg2App.STATEENUM.' + projects.state}}">{{projects.state}}</td>
                <td>{{projects.createdby}}</td>
                <td>{{projects.createdon | date:'medium'}}</td>
                <td>{{projects.modifiedby}}</td>
                <td>{{projects.modifiedon | date:'medium'}}</td>
                <td>{{projects.version}}</td>
                <td>{{projects.active}}</td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../projects', projects.id ]" 
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-xs hidden-sm" jhiTranslate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'projects-edit/'+ projects.id } }]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-xs hidden-sm" jhiTranslate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'projects-delete/'+ projects.id } }]"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-xs hidden-sm" jhiTranslate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
