<div>
    <h2><span jhiTranslate="accuestimatorNg2App.project.home.title">Projects</span>
        <button class="btn btn-primary float-xs-right" [routerLink]="['/', { outlets: { popup: ['project-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="accuestimatorNg2App.project.home.createLabel">
            Create new Project
            </span>
        </button></h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="projects">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.project.name">Name</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.project.description">Description</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.project.active">Active</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.project.version">Version</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.project.state">State</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.project.createdby">Createdby</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.project.referencedFrom">Referenced From</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.project.createdon">Createdon</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.project.modifiedby">Modifiedby</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.project.modifiedon">Modifiedon</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of projects ;trackBy: trackId">
                <td><a [routerLink]="['../project', project.id ]" >{{project.id}}</a></td>
                <td>{{project.name}}</td>
                <td>{{project.description}}</td>
                <td>{{project.active}}</td>
                <td>{{project.version}}</td>
                <td jhiTranslate="{{'accuestimatorNg2App.STATEENUM.' + project.state}}">{{project.state}}</td>
                <td>{{project.createdby}}</td>
                <td>{{project.referencedFrom}}</td>
                <td>{{project.createdon | date:'medium'}}</td>
                <td>{{project.modifiedby}}</td>
                <td>{{project.modifiedon | date:'medium'}}</td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../project', project.id ]" 
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-xs hidden-sm" jhiTranslate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'project-edit/'+ project.id } }]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-xs hidden-sm" jhiTranslate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'project-delete/'+ project.id } }]"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-xs hidden-sm" jhiTranslate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
