
 <div *ngIf="factorsTaskMappings">
     asdfasdfasdfasd
 </div>
<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myFactorsTaskMappingLabel" jhiTranslate="accuestimatorNg2App.factorsTaskMapping.home.createOrEditLabel">Create or edit a Factors Task Mapping</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
     
     <div class="table-responsive" >
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tasks</th>
                    <th *ngFor="let factor of factors ;trackBy: trackId">{{factor.name}}</th>
                </tr>
            </thead>
            <tbody>
               <tr *ngFor='let estimates of factorsTaskMapping.estimates.estimates | ValuesPipe:"taskid":true; let i = index'>
                    <td>{{factorsTaskMapping.estimates.estimates[i].taskname}}</td>
                    <td *ngFor="let values of estimates.values; let j = index">
                        <div class="form-group">
                            <input type="text" class="form-control" id="feild_factorsTaskMapping.estimates.estimates[{{i}}].values[{{j}}].points" name="factorsTaskMapping.estimates.estimates[{{i}}].values[{{j}}].points" [(ngModel)]="factorsTaskMapping.estimates.estimates[i].values[j].points"/>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
