<div>
    <h2><span jhiTranslate="accuestimatorNg2App.estimates.home.title">Estimates</span>
        <button class="btn btn-primary float-xs-right" [routerLink]="['/', { outlets: { popup: ['estimates-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="accuestimatorNg2App.estimates.home.createLabel">
            Create new Estimates
            </span>
        </button></h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="estimates">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.estimates.name">Name</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.estimates.description">Description</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.estimates.projectId">Project Id</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.estimates.templateId">Template Id</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.estimates.taskId">Task Id</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.estimates.factorId">Factor Id</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.estimates.type">Type</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.estimates.value">Value</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.estimates.version">Version</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.estimates.state">State</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.estimates.referencedFrom">Referenced From</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.estimates.createdby">Createdby</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.estimates.createdon">Createdon</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.estimates.modifiedby">Modifiedby</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.estimates.modifiedon">Modifiedon</span></th>
            <th><span jhiTranslate="accuestimatorNg2App.estimates.active">Active</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let estimates of estimates ;trackBy: trackId">
                <td><a [routerLink]="['../estimates', estimates.id ]" >{{estimates.id}}</a></td>
                <td>{{estimates.name}}</td>
                <td>{{estimates.description}}</td>
                <td>{{estimates.projectId}}</td>
                <td>{{estimates.templateId}}</td>
                <td>{{estimates.taskId}}</td>
                <td>{{estimates.factorId}}</td>
                <td jhiTranslate="{{'accuestimatorNg2App.TYPEENUM.' + estimates.type}}">{{estimates.type}}</td>
                <td>{{estimates.value}}</td>
                <td>{{estimates.version}}</td>
                <td jhiTranslate="{{'accuestimatorNg2App.STATEENUM.' + estimates.state}}">{{estimates.state}}</td>
                <td>{{estimates.referencedFrom}}</td>
                <td>{{estimates.createdby}}</td>
                <td>{{estimates.createdon | date:'medium'}}</td>
                <td>{{estimates.modifiedby}}</td>
                <td>{{estimates.modifiedon | date:'medium'}}</td>
                <td>{{estimates.active}}</td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../estimates', estimates.id ]" 
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-xs hidden-sm" jhiTranslate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'estimates-edit/'+ estimates.id } }]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-xs hidden-sm" jhiTranslate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'estimates-delete/'+ estimates.id } }]"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-xs hidden-sm" jhiTranslate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
