

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myFactorsLabel" jhiTranslate="accuestimatorNg2App.factors.home.createOrEditLabel">Create or edit a Factors</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" [hidden]="!factors.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="factors.id" readonly />
        </div>-->
        <div class="form-group">
        <label class="form-control-label" jhiTranslate="accuestimatorNg2App.factors.name" for="field_name">Name</label>
    <input type="text" class="form-control" name="name" id="field_name"
           [(ngModel)]="factors.name"
    required />
    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
        <small class="form-text text-danger"
           [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
        </small>
        </div>
    </div>
      <!-- <div class="form-group">
        <label class="form-control-label" jhiTranslate="accuestimatorNg2App.factors.category" for="field_category">Category</label>
    <input type="text" class="form-control" name="category" id="field_category"
           [(ngModel)]="factors.category"
    required />
    <div [hidden]="!(editForm.controls.category?.dirty && editForm.controls.category?.invalid)">
        <small class="form-text text-danger"
           [hidden]="!editForm.controls.category?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
        </small>
        </div>
    </div> -->
        <div class="form-group">
        <label class="form-control-label" jhiTranslate="accuestimatorNg2App.factors.type" for="field_type">Type</label>
        <select class="form-control" name="type" [(ngModel)]="factors.type" id="field_type"  required>
        <option value="TECHNICAL" jhiTranslate="accuestimatorNg2App.TYPEENUM.TECHNICAL">TECHNICAL</option>
        <option value="MANAGEMENT" jhiTranslate="accuestimatorNg2App.TYPEENUM.MANAGEMENT">MANAGEMENT</option>
        <option value="CODING" jhiTranslate="accuestimatorNg2App.TYPEENUM.CODING">CODING</option>
        <option value="TESTING" jhiTranslate="accuestimatorNg2App.TYPEENUM.TESTING">TESTING</option>
        <option value="DEPLOYMENT" jhiTranslate="accuestimatorNg2App.TYPEENUM.DEPLOYMENT">DEPLOYMENT</option>
        <option value="REVIEW" jhiTranslate="accuestimatorNg2App.TYPEENUM.REVIEW">REVIEW</option>
        <option value="REWORK" jhiTranslate="accuestimatorNg2App.TYPEENUM.REWORK">REWORK</option>
        <option value="OTHERS" jhiTranslate="accuestimatorNg2App.TYPEENUM.OTHERS">OTHERS</option>
        </select>
    <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
        <small class="form-text text-danger"
           [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
        </small>
        </div>
    </div>
        <div class="form-group">
        <label class="form-control-label" jhiTranslate="accuestimatorNg2App.factors.value" for="field_value">Value</label>
    <input type="number" class="form-control" name="value" id="field_value"
           [(ngModel)]="factors.value"
    required />
    <div [hidden]="!(editForm.controls.value?.dirty && editForm.controls.value?.invalid)">
        <small class="form-text text-danger"
           [hidden]="!editForm.controls.value?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
        </small>
            <small class="form-text text-danger"
               [hidden]="!editForm.controls.value?.errors?.number" jhiTranslate="entity.validation.number">
                This field should be a number.
            </small>
        </div>
    </div>
        <div class="form-group">
        <label class="form-control-label" jhiTranslate="accuestimatorNg2App.factors.version" for="field_version">Version</label>
    <input type="text" class="form-control" name="version" id="field_version"
           [(ngModel)]="factors.version"
    required />
    <div [hidden]="!(editForm.controls.version?.dirty && editForm.controls.version?.invalid)">
        <small class="form-text text-danger"
           [hidden]="!editForm.controls.version?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
        </small>
        </div>
    </div>
        <div class="form-group">
        <label class="form-control-label" jhiTranslate="accuestimatorNg2App.factors.state" for="field_state">State</label>
        <select class="form-control" name="state" [(ngModel)]="factors.state" id="field_state"  required>
        <option value="DRAFT" jhiTranslate="accuestimatorNg2App.STATEENUM.DRAFT">DRAFT</option>
        <option value="INPROGRESS" jhiTranslate="accuestimatorNg2App.STATEENUM.INPROGRESS">INPROGRESS</option>
        <option value="COMPLETED" jhiTranslate="accuestimatorNg2App.STATEENUM.COMPLETED">COMPLETED</option>
        <option value="READY" jhiTranslate="accuestimatorNg2App.STATEENUM.READY">READY</option>
        <option value="INQUEUE" jhiTranslate="accuestimatorNg2App.STATEENUM.INQUEUE">INQUEUE</option>
        <option value="APPROVED" jhiTranslate="accuestimatorNg2App.STATEENUM.APPROVED">APPROVED</option>
        </select>
    <div [hidden]="!(editForm.controls.state?.dirty && editForm.controls.state?.invalid)">
        <small class="form-text text-danger"
           [hidden]="!editForm.controls.state?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
        </small>
        </div>
    </div>
       <!-- <div class="form-group">
        <label class="form-control-label" jhiTranslate="accuestimatorNg2App.factors.createdby" for="field_createdby">Createdby</label>
    <input type="text" class="form-control" name="createdby" id="field_createdby"
           [(ngModel)]="factors.createdby"
     />
    </div>
        <div class="form-group">
        <label class="form-control-label" jhiTranslate="accuestimatorNg2App.factors.createdon" for="field_createdon">Createdon</label>
        <div class="input-group">
            <input id="field_createdon" type="text" class="form-control" name="createdon" ngbDatepicker #createdonDp="ngbDatepicker" [(ngModel)]="factors.createdon"
              />
        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" (click)="createdonDp.open()"><i class="fa fa-calendar"></i></button>
                    </span>
    </div>
    </div>
        <div class="form-group">
        <label class="form-control-label" jhiTranslate="accuestimatorNg2App.factors.modifiedby" for="field_modifiedby">Modifiedby</label>
    <input type="text" class="form-control" name="modifiedby" id="field_modifiedby"
           [(ngModel)]="factors.modifiedby"
     />
    </div>
        <div class="form-group">
        <label class="form-control-label" jhiTranslate="accuestimatorNg2App.factors.modifiedon" for="field_modifiedon">Modifiedon</label>
        <div class="input-group">
            <input id="field_modifiedon" type="text" class="form-control" name="modifiedon" ngbDatepicker #modifiedonDp="ngbDatepicker" [(ngModel)]="factors.modifiedon"
              />
        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" (click)="modifiedonDp.open()"><i class="fa fa-calendar"></i></button>
                    </span>
    </div>
    </div> -->
        <div class="form-group">
        <label class="form-control-label" jhiTranslate="accuestimatorNg2App.factors.description" for="field_description">Description</label>
    <input type="text" class="form-control" name="description" id="field_description"
           [(ngModel)]="factors.description"
     />
    </div>
        <div class="form-group">
        <label class="form-control-label" jhiTranslate="accuestimatorNg2App.factors.active" for="field_active">Active</label>
    <input type="checkbox" class="form-control" name="active" id="field_active"
           [(ngModel)]="factors.active"
     />
    <div [hidden]="!(editForm.controls.active?.dirty && editForm.controls.active?.invalid)">
        <small class="form-text text-danger"
           [hidden]="!editForm.controls.active?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
        </small>
        </div>
    </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
