
<div *ngIf="factors">
    <h2><span jhiTranslate="accuestimatorNg2App.factors.detail.title">Factors</span> {{factors.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="accuestimatorNg2App.factors.name">Name</span></dt>
        <dd>
            <span>{{factors.name}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factors.category">Category</span></dt>
        <dd>
            <span>{{factors.category}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factors.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'accuestimatorNg2App.TYPEENUM.' + factors.type}}">{{factors.type}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factors.value">Value</span></dt>
        <dd>
            <span>{{factors.value}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factors.version">Version</span></dt>
        <dd>
            <span>{{factors.version}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factors.state">State</span></dt>
        <dd>
            <span jhiTranslate="{{'accuestimatorNg2App.STATEENUM.' + factors.state}}">{{factors.state}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factors.createdby">Createdby</span></dt>
        <dd>
            <span>{{factors.createdby}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factors.createdon">Createdon</span></dt>
        <dd>
            <span>{{factors.createdon | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factors.modifiedby">Modifiedby</span></dt>
        <dd>
            <span>{{factors.modifiedby}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factors.modifiedon">Modifiedon</span></dt>
        <dd>
            <span>{{factors.modifiedon | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factors.description">Description</span></dt>
        <dd>
            <span>{{factors.description}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factors.active">Active</span></dt>
        <dd>
            <span>{{factors.active}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'factors-edit/'+ factors.id } }]"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
