
<div *ngIf="factorCategory">
    <h2><span jhiTranslate="accuestimatorNg2App.factorCategory.detail.title">Factor Category</span> {{factorCategory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="accuestimatorNg2App.factorCategory.name">Name</span></dt>
        <dd>
            <span>{{factorCategory.name}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factorCategory.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'accuestimatorNg2App.TYPEENUM.' + factorCategory.type}}">{{factorCategory.type}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factorCategory.version">Version</span></dt>
        <dd>
            <span>{{factorCategory.version}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factorCategory.state">State</span></dt>
        <dd>
            <span jhiTranslate="{{'accuestimatorNg2App.STATEENUM.' + factorCategory.state}}">{{factorCategory.state}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factorCategory.createdby">Createdby</span></dt>
        <dd>
            <span>{{factorCategory.createdby}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factorCategory.createdon">Createdon</span></dt>
        <dd>
            <span>{{factorCategory.createdon | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factorCategory.modifiedby">Modifiedby</span></dt>
        <dd>
            <span>{{factorCategory.modifiedby}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factorCategory.modifiedon">Modifiedon</span></dt>
        <dd>
            <span>{{factorCategory.modifiedon | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factorCategory.description">Description</span></dt>
        <dd>
            <span>{{factorCategory.description}}</span>
        </dd>
        <dt><span jhiTranslate="accuestimatorNg2App.factorCategory.active">Active</span></dt>
        <dd>
            <span>{{factorCategory.active}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'factorCategory-edit/'+ factorCategory.id } }]"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
